ion-card{
margin-right: 25px;
margin-left: 25px;
margin-bottom: 15px;
margin-top: 15px;

}
.label{
    margin: 25px,20px !important;
}
ion-item {

    
   }
ion-content {
    --background:#f9f9f9;
    
}